<div class="w-100 pb-30"
     fxLayout="column"
     fxLayoutGap="10px"
     fxLayoutAlign="center center">
     <div fxLayout="row"
          fxLayoutAlign="center center"
          class="h-85p">
          <h3>Results of the search </h3>
     </div>
     <div fxLayout="row wrap"
          fxLayoutAlign="start center"
          class="movies-search"
          infinite-scroll
          [infiniteScrollThrottle]="100"
          [infiniteScrollDistance]="1"
          (scrolled)="onScrollDown()">
          <div *ngFor="let movie of movies"
               class="movie-card"
               (click)="goToMovie(movie)">
               <app-movie-card [movie]="movie" ></app-movie-card>
          </div>
     </div>
     <div class="w-100"
          fxLayout="row"
          fxLayoutAlign="center center">
          <mat-spinner *ngIf="spinner" 
                       [diameter]="90"
                       [strokeWidth]="6">
          </mat-spinner>
          <span *ngIf="!spinner && totalPage === page">No hay más resultados</span>
          <span *ngIf="firstSearch && page === 0">No se han encontrado resultados</span>
     </div>
</div>