<div class="w-100 pb-30"
     fxLayout="column"
     fxLayoutGap="10px"
     fxLayoutAlign="center center">
     <div fxLayout="row"
          fxLayoutAlign="center center"
          ngClass="h-85p"
          ngClass.xs="h-65p">
          <h3>Results of the search </h3>
     </div>
     <div fxLayout="row wrap"
          fxLayoutAlign="start center"
          ngClass="movies-search"
          ngClass.md="movies-search-md"
          ngClass.sm="movies-search-sm"
          ngClass.xs="movies-search-xs"
          infinite-scroll
          [infiniteScrollThrottle]="100"
          [infiniteScrollDistance]="1"
          (scrolled)="onScrollDown()">
          <div *ngFor="let movie of movies"
               ngClass="movie-card"
               ngClass.md="movie-card-md"
               ngClass.sm="movie-card-sm"
               ngClass.xs="movie-card-xs"
               (click)="goToMovie(movie)">
               <app-movie-card [movie]="movie" ></app-movie-card>
          </div>
     </div>
     <div fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="15px"
          class="w-100"
          [ngClass]="movies.length === 0 ? 'h-268p' : null">
          <mat-spinner *ngIf="spinner" 
                       [diameter]="90"
                       [strokeWidth]="6">
          </mat-spinner>
          <span *ngIf="!spinner && totalPage === page">No more results</span>
          <mat-icon *ngIf="firstSearch && page === 0">search</mat-icon>
          <span *ngIf="firstSearch && page === 0">No results found</span>
     </div>
</div>