<div class="w-100"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="41px">
     <h2 class="w-100 text-center">My list</h2>
     <div *ngIf="!spinner && !notMovies && movies.length > 0"
          class="w-82"
          fxLayout="row wrap">
          <div *ngFor="let movie of movies"
               fxLayout="row"
               fxLayoutAlign="start start"
               class="movie-card mb-26">
               <div class="w-100 h-100">
                    <app-movie-card [movie]="movie"
                                    (click)="goToMovie(movie)" ></app-movie-card>
               </div>
          </div>
     </div>
     <div *ngIf="!spinner && notMovies"
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="15px"
          class="w-100 h-300p">
          <mat-icon>bookmark-outlined</mat-icon>
          <span class="text-15">There are no saved items</span>
     </div>
     <div class="spinner"
           fxLayout="row"
         fxLayoutAlign="center center"
          *ngIf="spinner && !notMovies">
          <mat-spinner [diameter]="90"
                         [strokeWidth]="6">
          </mat-spinner>
     </div>
</div>