@import '../../../../styles.scss';

:host ::ng-deep {
    .container {
        width: 100% !important;
        min-height: 100vh !important;
        background-color: #161518 !important;
    }

    .header {
        position: sticky !important;
        top: 0 !important;
        width: 100% !important;
        z-index: 10000 !important;
    }

    .header-container {
        height: 72px !important;
    }

    .header-container-lt-md {
        height: 120px !important;
    }

    .header-container-xl {
        height: 100px !important;
    }

    .back {
        background-color: darken($color: $secondary-color, $amount: 12)  !important;
    }
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px;
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar-track {
    background: #fff;
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
