@import '../../../../styles.scss';

:host ::ng-deep {
    .container {
        width: 100% !important;
        background-color: #161518 !important;
    }

    .header-container {
        position: sticky !important;
        top: 0 !important;
        width: 100% !important;
        height: 72px !important;
        z-index: 10000 !important;
    }
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px;
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar-track {
    background: #fff;
}

::ng-deep.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
