<div class="container">
    <div class="header mat-elevation-z4"
         ngClass="header-container"
         ngClass.lt-md="header-container-lt-md"
         ngClass.xl="header-container-xl">
        <app-header></app-header>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="w-100 h-50p back text-center pointer"
         fxLayout="row"
         fxLayoutAlign="center center"
         (click)="scroll()">
        <span class="pointer">Back to top</span>
    </div>
    <div class="w-100">
        <app-footer></app-footer>
    </div>
</div>