<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="26px"
     class="container"
     *ngIf="!spinner">
    <div class="detail"
         fxLayout="row">
        <div class="w-50"
             fxLayout="row"
             fxLayoutAlign="center center">       
             <div ngClass="image-details"
                  class="mat-elevation-z2"
                  fxLayout="column"
                  fxLayoutAlign="center center">
                <div *ngIf="movie"
                     [ngClass]="saved ? 'active-icon-add' : 'icon-add'"
                     fxLayout="row"
                     fxLayoutAlign="center center">
                    <mat-icon class="add"
                              (click)="actionsMyList(movie.id)">bookmark</mat-icon>
                </div>
                <div *ngIf="movie"
                     class="icon-share"
                     fxLayout="row"
                     fxLayoutAlign="center center">
                    <mat-icon class="share">share</mat-icon>
                </div>
                <img class="mat-elevation-z2 img" 
                     [src]="searchImage()"
                     appImageLoading>
            </div>
        </div>
        <div ngClass="w-50 p-50"
             fxLayout="column"
             fxLayoutAlign="start start"
             fxLayoutGap="12px">
            <h2>{{movie.title}}</h2>
            <h3 *ngIf="movie.tagline" class="tagline">"{{movie.tagline}}"</h3>
            <p>
                {{movie.overview}}
            </p>
            <span>{{movie.release_date}}</span>
            <div class="w-80"
                 fxLayout="row wrap"
                 fxLayoutGap="8px">
                <div *ngFor="let category of movie.genres"
                     class="category default"
                     fxLayout="row"
                     fxLayoutAlign="center center">
                    <span>{{category.name}}</span>
                </div>
            </div>
            <div fxLayout="row"
                 fxLayoutGap="18px">
                <div fxLayout="row" 
                     fxLayoutAlign="center center"
                     fxLayoutGap="6px"
                     class="data">
                    <mat-icon class="star">star</mat-icon>
                    <span class="rating">{{movie.vote_average | number: '1.0-2'}}</span>
                </div>
                <div fxLayout="row" 
                     fxLayoutAlign="center center"
                     fxLayoutGap="6px"
                     class="data">
                    <mat-icon class="groups">groups</mat-icon>
                    <span class="rating">{{movie.popularity | number: '1.0-2'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="movies-similar">
        <h3>
            Movies similar
        </h3>
        <app-carousel [movies]="movies"
                      [mouseover]="false"
                      [isMovie]="true"
                      (goToMovie)="goToMovie($event)">
        </app-carousel>
    </div>
</div>
<div class="spinner"
     fxLayout="row"
     fxLayoutAlign="center center"
     *ngIf="spinner" >
    <mat-spinner [diameter]="90"
                [strokeWidth]="6">
    </mat-spinner>
</div>