@import '../../../../styles.scss';

:host ::ng-deep {
    .swiper {
        width: 100% !important;
        height: 250px !important;
        box-sizing: border-box;
        padding: 0px 60px;

        .item-carousel {
            width: 174px !important;
            background: $background-color !important;
            border-radius: 8px !important;
            height: 240px !important;
            cursor: pointer;

            .image-carousel {
                height: 100% !important;
                width: 100% !important;
                border-radius: 8px !important;
            }
    
            &:hover {
                .image-carousel {
                    border: 3px solid white !important;
                    transition: all ease-in-out 0.1s;
                }
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        color: white !important;
    }

    .swiper-button-disabled {
        opacity: 0 !important;
    }
}