<swiper class="swiper"
        [config]="config">
     <ng-template swiperSlide
                  class="item-carousel mat-elevation-z2"
                  *ngFor="let movie of movies">
          <div class="w-100 h-100"
               fxLayout="row"
               fxLayoutAlign="center center">
               <img class="image-carousel mat-elevation-z2" 
                    [src]="searchImage(movie)"
                    appImageLoading
                    (mouseover)="selectMovie(movie)"
                    (click)="goToMovieEmit(movie)">
          </div>     
     </ng-template>
</swiper>