@import '../../../../styles.scss';

:host ::ng-deep {
    .swiper {
        width: 100% !important;
        box-sizing: border-box;
        padding: 0px 40px !important;

        .h-250p {
            height: 250px !important;
        }

        .h-155p {
            height: 155px !important;
        }

        .item-carousel {
            background: $background-color !important;
            border-radius: 8px !important;
            cursor: pointer;

            .image-carousel {
                height: 100% !important;
                border-radius: 8px !important;
            }
    
            &:hover {
                .image-carousel {
                    border: 3px solid white !important;
                    transition: all ease-in-out 0.1s;
                }
            }
        }
    }

    .item-size {
        width: 174px !important;
        height: 240px !important;
    }

    .swiper-button-prev, .swiper-button-next {
        color: white !important;
    }

    .swiper-button-disabled {
        opacity: 0 !important;
    }

    @media only screen and (max-width: 600px) {
        .swiper {
            padding: 0 15px !important;
        }

        .item-size {
            width: 105px !important;
            height: 145px !important;
            margin-right: 10px !important;
        }

        .swiper-button-prev, .swiper-button-next::after {
            display: none !important;
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 959px) {
        .swiper {
            padding: 0 15px !important;
        }

        .item-size {
            width: 145px !important;
            height: 180px !important;
            margin-right: 10px !important;
        }

        .swiper-button-prev, .swiper-button-next::after {
            display: none !important;
        }
    }

}