@import '../../../../../styles.scss';

:host ::ng-deep {
    a {
       text-decoration: none !important; 
       width: 100% !important;
       height: 100% !important;
    }

    span {
        color: $text-color !important;
        font-weight: 500 !important;
    }

    .pointer {
        cursor: pointer;
    }

    .content-container {
        width: 100% !important;
        height: 120px;
        z-index: 0;
    }

    .content-container-xs {
        width: 100% !important;
        height: 100px;
        z-index: 0;
    }

    .header {
        width: 100% !important;
        height: 60% !important;
        padding: 0px 16px !important;
        background-color: $main-color!important;
    }

    .header-views{
        width: 200px !important;
        height: 100% !important;
    }

    .image-container{
        width: 200px !important;
        height: 98% !important;
    }

    .image-container-xs{
        width: 150px !important;
        height: 98% !important;
    }

    .image {
        width: 100% !important;
        height: 100% !important;

        img {
            width: 100% !important;
            height: 100% !important;
        };
    }

    .header-search {
        background-color: white !important;
        height: 40% !important;
    }

    .search {
        width: 96% !important;
        height: 100% !important;
    }

    input {
        width: 97% !important;
        height: 100% !important;
        padding: 0 !important;
        border: none !important;
        font-size: 16px !important;
        padding: 5px !important;
        box-sizing: border-box !important;

        &:hover {
            border: none !important;
            outline: none !important;
        }

        &:focus {
            border: none !important;
            outline: none !important;  
        }
    }
    
    .mat-icon {
        color: black !important;
        font-size: 24px !important;
    }

    .text-xs {
        font-size: 14px !important;
    }
}
